<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link href="{{ asset('admin/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tunise <span id="telecomSpan">Telecom</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav ">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('workflow') }}">WorkFlow</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('getNce') }}">NCE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ ('getIms') }}">IMS</a>
            </li>

        </ul>
    </div>
</nav>
<div class="buttonDiv">
    <button type="button" class="btn btn-secondary"><a style="color: #fff" href="{{ path('activeNceNotWf') }}">Active NCE not Active WF </a></button>
    <button type="button" class="btn btn-success"><a style="color: #fff" href="{{ path('activeWfNotFoundIms') }}">Active WF not Found IMS </a></button>
    <button type="button" class="btn btn-danger"><a style="color: #fff" href="{{ path('foundWfNotNce') }}">Found WF not Found NCE </a></button>


</div>
</body>
<style>
 body{
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ asset('admin/img/Tunisie-télécom.jpg') }});
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;

 }
 .navbar-brand{
     font-size: 30px;
 }
 #telecomSpan{
     color: #116ebb;
 }
.nav-link{
    font-size: 20px;

}
 .buttonDiv{
     margin-top: 50%;
     margin-left: 25%;
}
 a { text-decoration: none;
 font-size: 20px;
 }


</style>
</html>